body
{
    background-color: #B0C4DE;
}
.adminTable
{
    width: 900px;
}
.adminTr
{
    width: 100%;
}
.adminTd,.tdHeader
{
    background-color: #B0C4DE;
    width: 30%;
    padding: 20px;
    margin: 5px;
    border: 5px solid white; /* Граница вокруг ячеек */
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #690969;
}

.adminTd a
{
    text-decoration: none;
    link: #690969;
    alink: #690969;
    vlink: #690969;
    color: #690969;
}

.tdHeader
{
    background-color: #2F4F4F;
    color: #629ED2;
    font-size: 18px;
}

.prewiew
{
    width:200px;
    height: 150px;
    border: 5px solid white; /* Граница вокруг ячеек */
}
.Photo
{
    width:100%;
    /*background-color:  #B0C4DE;*/
    background: rgba(0,0,0,0.5);
}
.modalPhoto
{
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
}
.modal-footer
{
    display: inline-block;
    float: right;
}
.modal-footer button
{
    background: #AB0808;
    color: white;
}
.description
{
    display: inline-block;
    float: right;
    background:  #B0C4DE;
    color: #690969;
    margin: 20px;
    width: 450px;
}
.description p
{
    word-break: break-all;
}
.editDescription textarea
{
    word-break: break-all;
    width: 100%;
    height: 300px;
    resize: none;
    background-color: #B0C4DE;
    color: #690969;
}

#buttonNext,#cancelEditDescription
{
    float: right;
}
#buttonBack,#saveEditDescription
{
    float: left;
}
#buttonBack,#buttonNext,#saveEditDescription,#cancelEditDescription
{
    height: 50px;
    width: 50%;
    /*background-color: #420935;*/
    color: white;
    background: rgba(0,0,0,0.5);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 30px;
}
#hideDelButton
{
    width: 80px;
    height: 40px;
}
.ErrorPage
{
    background-color: #B0C4DE;
}
.ErrorPage h1
{
    text-align: center;
    margin-top: 100px;
    color: #690969;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}
.tdPrice
{
    width: 400px;
    height: 50px;
    border: 5px solid white; /* Граница вокруг ячеек */
}

.tdCategory
{
    width: 533px;
    height: 50px;
    border: 5px solid white; /* Граница вокруг ячеек */
}

#addPricePage caption,.tdHeaderCategory
{
    text-align: center;
    color: #690969;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.buferTd
{
    /*margin-top: 50px;*/
    min-height: 50px;
    width: 100%;
    background-color: white;
}

.headerPrice
{
    font-weight: bold;
    text-align: center;
    background-color: #08BC1A;
}

#tablePrice
{
    width : 1000px;
    margin-left: 250px;
    /*color:#00BFFF*/
}
.trPrice
{
    width : 100%;
}
.trPrice td
{
    border: 1px solid black;
    /*-webkit-column-span:;*/
    /*column-span : 1;*/
    text-align: center;
    width: 50px;
}

#AddPrice,#AddCategory,#buttonEditService,#buttonDeleteService,#editService,#saveCategory,#editCategory,#buttonDeleteCategory
{
    cursor: pointer;
}
/*# sourceMappingURL=all.css.map */
