body
{
    background-color: #B0C4DE;
    height: 100%;
}
.adminTable
{
    width: 900px;
}
.adminTr
{
    width: 100%;
}
.adminTd,.tdHeader
{
    background-color: #7FFFD4;
    width: 30%;
    padding: 20px;
    margin: 5px;
    border: 5px solid white; /* Граница вокруг ячеек */
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #690969;
}

.adminTd a
{
    text-decoration: none;
    link: #690969;
    alink: #690969;
    vlink: #690969;
    color: #690969;
}

.tdHeader
{
    background-color: #2F4F4F;
    color: #629ED2;
    font-size: 18px;
}

.prewiew
{
    width:200px;
    height: 150px;
    border: 5px solid white; /* Граница вокруг ячеек */
}
.Photo
{
    width:100%;
    /*background-color:  #B0C4DE;*/
    background: rgba(0,0,0,0.5);
}
.modalPhoto
{
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
}
#closeModal
{
    /*display: inline-block;*/
    float: right;
    margin: 5px 5px;
    background: #AB0808;
    color: white;
}
.modal-footer button
{
    background: #AB0808;
    color: white;
}
.description
{
    display: inline-block;
    float: right;
    background-color: rgba(0,191,255,1.0);
    color: #690969;
    margin: 20px;
    width: 25%;
}
.description p
{
    word-break: break-all;
}
.editDescription textarea
{
    word-break: break-all;
    width: 100%;
    height: 300px;
    resize: none;
    background-color: #B0C4DE;
    color: #690969;
}

#buttonNext,#cancelEditDescription
{
    float: right;
}
#buttonBack,#saveEditDescription
{
    float: left;
}
#buttonBack,#buttonNext,#saveEditDescription,#cancelEditDescription
{
    height: 50px;
    width: 50%;
    /*background-color: #420935;*/
    color: white;
    background: rgba(0,0,0,0.5);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 30px;
}
#hideDelButton
{
    width: 80px;
    height: 40px;
}
.ErrorPage
{
    background-color: #B0C4DE;
}
.ErrorPage h1
{
    text-align: center;
    margin-top: 100px;
    color: #690969;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}
.tdPrice
{
    width: 400px;
    height: 50px;
    border: 5px solid white; /* Граница вокруг ячеек */
}

.tdCategory
{
    width: 533px;
    height: 50px;
    border: 5px solid white; /* Граница вокруг ячеек */
}

#addPricePage caption,.tdHeaderCategory
{
    text-align: center;
    color: #690969;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.buferTd
{
    /*margin-top: 50px;*/
    min-height: 50px;
    width: 100%;
    background-color: white;
}

.headerPrice
{
    font-weight: bold;
    text-align: center;
    background-color: #7FFFD4;
}

.trPrice
{
    width : 100%;
}
.trPrice td,#tableContact td
{
    border: 1px solid rgba(0,191,255,0.5);
    /*-webkit-column-span:;*/
    /*column-span : 1;*/
    text-align: center;
    width: 50px;
    background-color: white;
}
#divPrice
{
    background-color: rgba(0,191,255,0.5);
}

#AddPrice,#AddCategory,#buttonEditService,#buttonDeleteService,#editService,#saveCategory,#editCategory,#buttonDeleteCategory,#addNewContact
{
    cursor: pointer;
}
#newTextContact,#addNewContact
{
    width: 200px;
    height: 40px;
    border: 5px solid #B0C4DE;
}
#addNewContact
{
    text-align: center;
    background-color: white;
}
#newTextContact input
{
    width: 200px;
    height: 40px;
}
#imageHeader
{
    width: 100%;
    height: 150px;
    background-image: url("/ff1.jpg");
}
html, body {
    height: 100%;
}

.home
{
    background-color: rgba(0,191,255,0.5);
    margin-top: -20px;
    /*min-height: 1000px;*/
    height: 75%;
}
.panel
{
    margin-top:20px;
    background-color: #7FFFD4;
}
#newContact,#delContact
{
    width: 1000px;
    height: 30px;
    margin-left: 250px;
}
#newContact td
{
    width: 50%;
    text-align: center;
    border: 1px solid black;

}
#contactType
{
    width: 100%;
    height: 30px;
    padding: -5px;

}
#newTextContact
{
    width: 100%;
    height: 30px;
}
.tdDelContacts
{
    border: 1px solid rgba(0,191,255,0.5);
    background-color: white;
    width: 1000px;
    height: 30px;
}
.contacts
{
    margin-top:40px;
}